# Analyzing the data

In [16]:
import pandas as pd

df = pd.read_csv("data/Final_Btc_Data.csv")

In [17]:
df.head()

,Date,Price,Open,High,Low,Vol.,Change %,EPU,GPRD,Gold
0,2024-04-01,69664.4,71329.3,71329.3,68175.9,94050.0,-0.0234,173.811823,123.224617,2236.500000
1,2024-03-31,71332.0,69608.5,71367.5,69576.6,42450.0,0.0247,182.207713,119.953705,2217.399902
2,2024-03-30,69611.5,69872.3,70321.2,69564.9,29870.0,-0.0037,182.207713,161.588669,2217.399902
3,2024-03-29,69871.7,70766.7,70907.0,69090.9,58990.0,-0.0126,182.207713,126.193062,2217.399902
4,2024-03-28,70762.1,69449.4,71542.5,68956.9,72490.0,0.0190,182.207713,99.626099,2217.399902