# Analyzing the data

In [1]:
import pandas as pd

df = pd.read_csv("data/Final_Btc_Data.csv")

In [2]:
df.head()

,Date,Price,Open,High,Low,Vol.,Change %,EPU,GPRD,Gold
0,2024-04-01,"69,664.4","71,329.3","71,329.3","68,175.9",94.05K,-2.34%,173.811823,123.224617,2236.500000
1,2024-03-31,"71,332.0","69,608.5","71,367.5","69,576.6",42.45K,2.47%,182.207713,119.953705,2217.399902
2,2024-03-30,"69,611.5","69,872.3","70,321.2","69,564.9",29.87K,-0.37%,182.207713,161.588669,2217.399902
3,2024-03-29,"69,871.7","70,766.7","70,907.0","69,090.9",58.99K,-1.26%,182.207713,126.193062,2217.399902
4,2024-03-28,"70,762.1","69,449.4","71,542.5","68,956.9",72.49K,1.90%,182.207713,99.626099,2217.399902

In [3]:
# No. of rows
df.shape[0]

3654